/* *{

} */

.App{
    /* background: linear-gradient(to top, white, rgba(236, 122, 56, 0.822)); */
    /* background: linear-gradient(to top, white, #BDC4DB); */
    background: linear-gradient(to top, white, #b4adea);
    /* background: linear-gradient(to top, white, #c3bfe6) */
  display: block;
}

.Main{
    /* background-color: #F9EAE1; */
    /* display: fixed; */
    text-align: center;
    transition: margin-left 0.5s
}

.AboveAll{
    padding: 1vw;
}   

.DekhateHai{
    margin-top: 1vw;
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;
}

.AboveContainer{

    justify-content: center;
    align-content: center;
}

.Title{
    font-size: xx-large;
    display: grid;
    grid-row:1/2;
    grid-column: 1/-1;;
    /* border-bottom: 1px solid whitesmoke;
    width:22vw;
    padding: 1vw;
    margin-left: 2vw; */
}

.spanMain{
    display:fixed;
    float: left;
    font-size: x-large;
    top: 2%;
    left: 3%;
}

.Description{
display:grid;
grid-row: 3/4;
grid-column: 1/-1;
}

.Container{
    display: grid;
    width: 27vw;
    height:18vw;
    box-shadow: 2px 2px rgb(0,0,0,6);
    border:1px solid black;
    transition: transform .5s;
    grid-template-rows: 3vw 4vw 7vw 3vw; 
    grid-template-columns: repeat(3,9vw);
    margin: 1vw 1vw 1vw 1vw;
}

.Container:hover{
    transform: scale(1.05);
}

.hrTiket{
    display: grid;
    grid-row:2/3;
    border-top: 1px solid rgb(0,0,0,0.3);
    width:22vw;
    margin-left: 2vw;
}

.btnDelete,.btnEdit,.btnToggle{
    /* margin: 1vw 1vw 1vw 1vw; */
    display: grid;
    grid-row-start: 4;
    display: inline-block;
    background-color:#F0F8FF;
    /* background-color: rgb(180,173,234,0.7); */
    margin-top: 0.5vw;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    width: 8.5vw;
    cursor:grab;
}


.Confirm,.Cancel{
    display: grid;
    grid-row-start: 2;
    background-color:#F0F8FF;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    height: max-content;
    width: 8.5vw;
    cursor:grab;
}

.editTitle{
    display: grid;
    grid-column: 1/-1;
    margin-left: 1vw;
    justify-items: center;
    width: 24vw;
    margin-top: 1vw;
}

.Description{
    font-size: large;
}

.inputTitle{
    margin: 1vw 1vw 1vw 5vw;
}

.inputDescription{
    margin: 1vw 1vw 1vw 1vw;
}

.Home{
    cursor:grab;
    text-shadow: 1px 1px rgb(0,0,0,0.5);
    font-size: xx-large;
    margin-bottom: 1vw;
    text-decoration: none;
    padding: 1vw;
    /* background-color: white; */
    color: black;
    /* border:0.1px solid white; */
}

.CreateTask{
    text-shadow: 1px 1px rgb(0,0,0,0.5);
    cursor:grab;
    font-size: xx-large;
    /* margin-bottom: 1vw; */
    padding: 1vw;
    text-decoration: none;
    /* background-color: white; */
    color: black;
    /* border:0.1px solid white; */
    border-left: 1px solid black;
}

.hrBelowHome{
    width: 2px;
}

.ViewAll,.Completed,.Pending{
    /* display: grid; */
    cursor:grab;
    background-color:#F0F8FF;
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

/* .Content{
    
} */

.ResetBtn{
    cursor:grab;
    margin-left: 2vw;
}

.HomeIcon{
    box-shadow: 1px 1px rgb(0,0,0,0.5);     
 font-size: x-large;
 
}

.sidenav {
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:1vw;
    left:0;
    background-color: #50514f;
    overflow-x:hidden;
    transition: 0.5s;
    padding-top:60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:#f1f1f1;
}

 .closebtn{
     position: relative;
    top:0;
    cursor: pointer;
    right:0%;
    color: black;
    font-size: 36px;
    margin-left: 20%;
    transition: 0.5s;
    animation-name: closelink;
    animation-duration: 0.5s;
    float: left;
}

@keyframes closelink {
    from {color:rgb(0,0,0,0.3);font-Size:10px;margin-left: 5%;}
    to {color:rgb(0,0,0,1);font-size: 36px;margin-left: 20%;}
}